@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;700&display=swap');

:root {
  --color-primary: #075D0F;
}

* {
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

html, body {
  background-color: #E8E8E8;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}